body {
    padding-left: 10%;
}

<<<<<<< HEAD
header {
    width: 100%;
    background-color: #d7a900;

}

.container {
	width: 100%;
=======
.quarterSelectors {
    padding: 0;
    margin: 0;
>>>>>>> af3835e18630c6d7bc916ff91c28b343b4f715c8
}

.courseBlock {
    padding: 1%;
    border: solid 5px;
}

.quarterSelect {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 25%;
    text-align: center;
    float: left;
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-right: solid 2px;
}

.quarterSelectFirst {
    border-left: solid 2px;
}

.courseTitle {
    float: left;
}

.courseQuarters {
    float: right;
}

.courseInfo {
    clear: both;
}