<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>iSchool Course Helper</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js"></script>
    </head>
    <body ng-app="CoursesApp" ng-controller="CoursesController">
        <header>
            <h1>Informatics Course Helper</h1>
            <p class="lead">Easier to view classes</p>
        </header>

        <!--TODO fix nav to viewport on scroll-->
        <nav class="quarterSelectors">
            <ul>
                <li class="quarterSelect"><a href="#">Autumn</a></li>
                <li class="quarterSelect"><a href="#">Winter</a></li>
                <li class="quarterSelect"><a href="#">Spring</a></li>
                <li class="quarterSelect"><a href="#">Summer</a></li>
            </ul>
        </nav>

        <main ng-if="!loading">
            <div class="courseCategory" ng-repeat="category in coursesAll">
                <h2>{{category.category}}</h2>
                <div class="courseBlock" ng-repeat="course in category.coursesFiltered">

                    <!--TODO Junior vs Senior year recommendation-->

                    <div class="courseQuarters">
                        <img src="img/season.png" alt="autumn"/>
                        <img src="img/season.png" alt="winter"/>
                        <img src="img/season.png" alt="spring"/>
                        <img src="img/season.png" alt="summer"/>
                    </div>

                    <h3 class="courseTitle">{{course.courseNumber}} - {{course.courseTitle}}</h3>

                    <p class="courseCredits">({{course.credits}} credits) {{course.genre}}</p>

                    <p class="courseInfo">{{course.description}}</p>

                    <a href="https://uwstudent.washington.edu/student/myplan/course/INFO101">View in MyPlan</a>

                    <div class="coursePreReqs">
                        <p>Requires:</p>
                        <p>INFO 001</p>
                        <p>INFO 002</p>
                        <p>INFO 003</p>
                        <p>INFO 004</p>
                    </div>
                </div>
            </div>
        </main>
        <!--TODO loading gif-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>